<p id="notice"><%= notice %></p>

<h1>Cases</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |mycase| %>
      <tr>
        <td><%= link_to 'Show', mycase %></td>
        <td><%= link_to 'Edit', edit_case_path(mycase) %></td>
        <td><%= link_to 'Destroy', mycase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case', new_case_path %>
